.div {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
  padding-inline: 0.5rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.div::-webkit-scrollbar {
  display: none;
}

.card {
  border-radius: 1rem;
  border: 1px solid var(--primary);
  display: grid;
  flex: 0 0 100px;
  gap: 0.5rem;
  padding-block: 0.5rem;
  place-items: center;
  width: 250px;
}

.h1 {
  font-size: 1.2rem;
  color: var(--secondary);
  padding-left: 1rem;
}

.label {
  margin: 0;
}
