.main {
  background: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
  width: 100%;
}

.main::-webkit-scrollbar {
  display: none;
}

@media (min-width: 520px) {
  .main {
    height: 90vh;
    scrollbar-width: auto;
    width: var(--mobile);
  }
}
